canvas {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #222020;
  position: fixed;
}

@media print {
  canvas {
    visibility: hidden;
  }

  :root body {
    --chakra-colors-chakra-body-text: #333;
  }
}